Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Μην επανεγγράψεις αρχεία και φακέλους που υπάρχουν
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Επανέγγραψε όλα τα άλλα στο index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; connect-src 'self' https://maps.googleapis.com blob: data:; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:;"
</IfModule>
